#cardSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap : 12px;
  
}
#cardDesign{
 /* width: 24vw;
 height: 40%; */
}
.cardImage{
  /* background-image: url(); */
  width: 350px;
  height: 300px;
  margin: 7px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#titleSection{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  /* width: 350px;
  font-size: 11px;
  margin: 0 10px; */
  
 
}