/* Global css */
*{
    box-sizing: border-box;
}
.container{
    padding: 0;
    margin: 0 auto;
}
body{
    font-family: "cairo-sans-serif";
    margin: 0;
}

/* sign up form */


.navLinks{
    outline: none;
        border: none;
        background-color: #86a8ff;
        padding: 10px 20px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        border: 2px solid white;
        font-weight: bold;
        font-size: 16px;
        margin: 20px;
        text-decoration: none;
}
.navLinks:hover {
    background-color: white;
    border: 2px solid #86a8ff;
    color: #86a8ff;
}

/* dashboard bars */

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


