.formStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 40%; */
    padding: 20px;
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 10%); */

}

.formStyle input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 2px solid white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin: 5px 0 10px 0;
    border-radius: 5px;
}

.formStyle input:focus {
    border: 2px solid #86a8ff;
}

.formStyle input::placeholder {
    color: hsla(222, 30%, 43%, 0.315);
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button {
    outline: none;
    border: none;
    background-color: #86a8ff;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid white;
    font-weight: bold;
    font-size: 16px;

}

.register button:hover {
    background-color: white;
    border: 2px solid #86a8ff;
    color: #86a8ff;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 0;

}