@font-face {
    font-family: 'Mystery Quest';
    src: url(../src/fonts/MysteryQuest-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main{
    width: 70%;
    height: 550px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    
}